<section>
    <h1>Choose your side </h1>
    <span>Authorization with one of social account</span>
    <div class="row">
        <div class="social-align ">
            <span>Sign in</span>
            <button mat-icon-button class="login social-align-fb" (click)="signInWithFB()">
                <mat-icon aria-label="Facebook button" fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
            </button>
        </div>
        <div class="social-align ">
            <span>Sign in</span>
            <a mat-icon-button class="login social-align-in"
               href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=770hb6c0888049&redirect_uri=http://localhost:4200/main">
                <mat-icon aria-label="LinkedIn button" fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
            </a>
            <script type="in/Login">
            </script>
        </div>
    </div>
</section>

