<section>
    <h1>Choose your side </h1>
    <span>Authorization with one of social account</span>
    <div class="row">
        <div class="social-align ">
            <span>Sign in</span>
            <button mat-icon-button class="login social-align-fb" (click)="signInWithFB()">
                <mat-icon aria-label="Facebook button" fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
            </button>
        </div>
        <div class="social-align ">
            <span>Sign in</span>
            <button mat-icon-button class="login social-align-in" (click)="signInWithLinkedIn()">
                <mat-icon aria-label="LinkedIn button" fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
            </button>
        </div>
    </div>
</section>

